html, body{
  width: 100%;
  background: rgb(15, 15, 32);
}
.container {
  
    margin: 100px auto;
    width: 1280px;
  }

  .cherry-bomb-one-regular {
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(165, 219, 180);
  }

  h1, h2 {
    font-family: 'Cherry Bomb One';
    color: rgb(165, 219, 180);
  }
  .iansui-regular {
    font-family: "Iansui", cursive;
    font-weight: 400;
    font-style: normal;
  }

  ol, ul, p {
    font-family: 'Iansui';
    color: rgb(10, 78, 19);
  }